* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  background: url('../assets/kurzgesagt.png');
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: bottom;
}

.danger {
  color: red;
}

.warning {
  color: yellow;
}

.pass {
  color: lightgreen;
}
